main {
    max-width: 300px;
    box-sizing: border-box;
}

div {
    padding: 10px;
    border-width: 2px;;
    border-style: none solid solid solid;
}

div:last-child {
    border-bottom: none;
}

div:hover{
    background-color: chocolate;
    cursor: default;
}